<div class="banner">
	<ul>
    <li><img src="https://dl.dropboxusercontent.com/s/xovmef479axdshh/Screen%20Shot%202016-02-06%20at%2011.12.07%20AM.png?dl=0" class="img-responsive"></li>
		<li><img src="https://dl.dropboxusercontent.com/s/igzvw95ufwlxtrx/Screen%20Shot%202016-02-06%20at%2011.12.29%20AM.png?dl=0" class="img-responsive"></li>
		<li><img src="https://dl.dropboxusercontent.com/s/lhbuwd60mmc1pc3/Screen%20Shot%202016-02-06%20at%2011.13.02%20AM.png?dl=0" class="img-responsive"></li>
 	</ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="#">
        <img class="img-responsive" src="https://app.box.com/representation/file_version_115299396072/image_2048/1.png">
      </a>
      <p>Bass. Shows albums with links to tracks</p>
    </div>
    <div class="col-md-4">
      <a href="#"><img class="img-responsive" src="https://app.box.com/representation/file_version_115301563755/image_2048/1.png"></a>
      <p>Bookmarks. A rating and review system</p>
    </div>
    <div class="col-md-4">
      <a href="#"><img class="img-responsive" src="https://app.box.com/representation/file_version_115300713896/image_2048/1.png"></a>
      <p>Threadly. A comment saving app.</p>
    </div>
 </div>
  
  
  </div>

