<HTML>
 	<body>
    <div class= "header">
      <div class="container">
        <h1>Karina Gaulin</h1>
      	<ul>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="container">
      	<h1>I am a Front-end Web Developer with 1 year of experiece in HTML, CSS, JavaScript, jQuerry, Ruby, Ruby on Rails, SASS, Git and Command Line.</h1>
      <button type="button">View My Work</button>
    	</div>
    </div>
    <div class="footer">
      <div class="container">
   			<a href="https://www.facebook.com/?stype=lo&jlou=AffHN7M5ZJWc9QenxLQ283Y1uf3Pj7rRLYp00-QotR4aA5S8cxIu4s9PplmKcM4pHdxnt-zYMKc-rMYymGwsUUWEPs4rjlQZ8bV7M9RsnJNNmA&smuh=50340&lh=Ac8pajQJWzqENsfu">
       
  			<%=image_tag("http://image.flaticon.com/icons/svg/33/33702.svg")%>
      	</a>
      </div>
   </div>