
<%= link_to "Portfolio", pages_portfolio_path%>
 
	<h1>I am a Front-end Web Developer with 1 year of experiece in HTML, CSS, JavaScript, jQuerry, Ruby, Ruby on Rails, SASS, Git and Command Line.	</h1>
      <button type="button">View My Work</button>
 