body {
font-family: 'Roboto', sans-serif;
}

.header {
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
}

.header ul {
  text-align: left;
}
.main {
  height: 300px;
  padding-top: 50px;
  background-size: cover;
  background-image: url("http://www.w3schools.com/css/img_fjords.jpg");
  color: green;
}

.footer {
  text-align: center;
  margin-top: 50px;
}


// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
